## Ejemplos parte teorica a partir de un dataset extra

In [2]:
import pandas as pd

In [24]:
df=pd.read_csv("../Practica/emisiones_ganado.csv",encoding = "utf-8", sep=";")
df.columns = ['año','emision','unidad']
df.sample(10)

     año  emision           unidad
7   1997     1.60  tCO2eq / Cabeza
20  2010     1.45  tCO2eq / Cabeza
26  2016     1.37  tCO2eq / Cabeza
0   1990     1.58  tCO2eq / Cabeza
28  2018     1.37  tCO2eq / Cabeza
18  2008     1.40  tCO2eq / Cabeza
14  2004     1.47  tCO2eq / Cabeza
15  2005     1.47  tCO2eq / Cabeza
9   1999     1.62  tCO2eq / Cabeza
11  2001     1.60  tCO2eq / Cabeza

Creando df desde un conjunto

In [4]:
dfCustom = pd.DataFrame({'id':[1,2,3,4,5,6,7,8,9,10],'nombre':['miguel','ramon','roberto','lucas','patricia','miguel','ramon','roberto','lucas','patricia'],'apellido':['gomez','gimenez','gonzalez','martinez','miranda','perez','bernues','martinez','ramirez','paru']})
dfCustom

   id    nombre  apellido
0   1    miguel     gomez
1   2     ramon   gimenez
2   3   roberto  gonzalez
3   4     lucas  martinez
4   5  patricia   miranda
5   6    miguel     perez
6   7     ramon   bernues
7   8   roberto  martinez
8   9     lucas   ramirez
9  10  patricia      paru

Creacion a partir de un esclar

In [5]:
df1 = pd.Series(7, index = ["Enero","Febrero","Marzo"])
df1

Enero      7
Febrero    7
Marzo      7
dtype: int64

Creacion desde un array

In [6]:
mi_array = {'col1': 1.0, 'col2':2.0, 'col3': 3.0}

In [22]:
mi_array = {'col1': 1.0, 'col2':2.0, 'col3': 3.0}
dfC = pd.DataFrame([mi_array])
print (dfC)

   col1  col2  col3
0   1.0   2.0   3.0

Acciones simples sobre un Dataframe

In [8]:
print(df1.head(10))
print(len(df1))
print("Cantidad de filas: %i" %len(df1))
#El %i indica que ahí va una variable de tipo integer.
#Al cerrar comillas dobles, el % indica qué es lo que debe reemplazar a %i

Enero      7
Febrero    7
Marzo      7
dtype: int64
3
Cantidad de filas: 3

Splicing de la data

In [9]:
print(df1[:10]) #muestra las primeras 10 filas
print(df1[5:]) #muestra todo salvo las primeras 5 filas
print(df1[-3:]) #muestra las últimas 3 filas
print(df1[:-2]) #muestra todo salvo las últimas 2 filas
print(df1[-5:-2]) #muestra desde la 5ta desde el final hasta 2 desde el final

Enero      7
Febrero    7
Marzo      7
dtype: int64
Series([], dtype: int64)
Enero      7
Febrero    7
Marzo      7
dtype: int64
Enero    7
dtype: int64
Enero    7
dtype: int64

Pasar el campo "nombre" a minúscula:

In [15]:
dfCustom = dfCustom['nombre'].str.lower()

Cómo ver las columnas de un DataFrame en Pandas:

In [14]:
print(dfCustom.columns)

Index(['id', 'nombre', 'apellido'], dtype='object')

Cómo ver el contenido de una columna en Pandas

In [28]:
df['emision'] #la columna se llama emision

0     1.58
1     1.57
2     1.57
3     1.62
4     1.62
5     1.61
6     1.60
7     1.60
8     1.59
9     1.62
10    1.62
11    1.60
12    1.55
13    1.48
14    1.47
15    1.47
16    1.44
17    1.41
18    1.40
19    1.42
20    1.45
21    1.45
22    1.42
23    1.41
24    1.40
25    1.40
26    1.37
27    1.37
28    1.37
Name: emision, dtype: float64

Cómo sacar el promedio de los valores de una columna en
Pandas:

In [29]:
print(df['emision'].mean())

1.4993103448275862

Posiciones

In [30]:
# mostramos columnas del dataframe
df.loc[0,:]

año                   1990
emision               1.58
unidad     tCO2eq / Cabeza
Name: 0, dtype: object

In [31]:
# Mostramos hasta el nombre de la columna
df.loc[0,:'emision']

año        1990
emision    1.58
Name: 0, dtype: object