### Practica Dataframe y bases de datos

In [1]:
import sqlite3
import pandas as pd
import sqlalchemy as db

1. Conectarse a la url que contiene el archivo CSV de medallas olímpicas.

In [4]:
url = 'http://winterolympicsmedals.com/medals.csv'
dfMedals = pd.read_csv(url)
dfMedals.sample(5)

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
200,1948,St. Moritz,Skiing,Nordic Combined,FIN,individual,M,Gold
1160,1988,Calgary,Biathlon,Biathlon,GDR,10km,M,Gold
2224,2006,Turin,Skiing,Nordic Combined,NOR,Individual,M,Bronze
1740,1998,Nagano,Skiing,Cross Country S,KAZ,Combined 10km + 15km pursuit,M,Bronze
2098,2006,Turin,Skating,Speed skating,CAN,1000m,W,Silver

2. Descargar los datos y obtener un sub dataset que contenga a todas las medallas de oro (Gold) Estados Unidos (USA) a partir del año 1950.

In [19]:
dfFiltered = dfMedals[(dfMedals['Medal'] == 'Gold') & (dfFiltered['NOC'] == 'USA') & (dfFiltered['Year'] >= 1950)]
dfFiltered

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
311,1952,Oslo,Skating,Figure skating,USA,individual,M,Gold
314,1952,Oslo,Skating,Speed skating,USA,500m,M,Gold
316,1952,Oslo,Skiing,Alpine Skiing,USA,giant slalom,W,Gold
317,1952,Oslo,Skiing,Alpine Skiing,USA,slalom,W,Gold
386,1956,Cortina d'Ampezzo,Skating,Figure skating,USA,individual,M,Gold
...,...,...,...,...,...,...,...,...
2301,2006,Turin,Skiing,Alpine Skiing,USA,Alpine combined,M,Gold
2302,2006,Turin,Skiing,Alpine Skiing,USA,giant slalom,W,Gold
2305,2006,Turin,Skiing,Snowboard,USA,Half-pipe,M,Gold
2307,2006,Turin,Skiing,Snowboard,USA,Half-pipe,W,Gold
2309,2006,Turin,Skiing,Snowboard,USA,Snowboard Cross,M,Gold

3. Crear una base de datos “olympics” en SQLite y la tabla “medals”.

In [15]:
# Crear una conexión a la base de datos
conn = sqlite3.connect('olympics.db')

# Crear un cursor
cursor = conn.cursor()

# Crear una tabla
query = """CREATE TABLE IF NOT EXISTS medals (
            id INTEGER,
            year INTEGER,
            city TEXT,
            sport TEXT,
            discipline TEXT,
            noc TEXT,
            event TEXT,
            event_gender TEXT,
            medal TEXT
            )"""
cursor.execute(query)
conn.commit()
conn.close()

4. Guardar en la base de datos. los datos generados en el sub dataset.

In [17]:
# Creación del engine
engine = db.create_engine('sqlite:///olympics.db')
connection = engine.connect()

# Insertar datos en la BD utilzando el método to_sql
dfFiltered.to_sql(name='orders', con=connection, if_exists='append', index = False)

65

5. Consultar la base de datos y validar que los datos se hayan cargado correctamente

In [20]:
# Verificamos que todo se haya incertado correctamente
query = "SELECT * FROM orders"
data = pd.read_sql(query, con=connection)
data

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
0,1952,Oslo,Skating,Figure skating,USA,individual,M,Gold
1,1952,Oslo,Skating,Speed skating,USA,500m,M,Gold
2,1952,Oslo,Skiing,Alpine Skiing,USA,giant slalom,W,Gold
3,1952,Oslo,Skiing,Alpine Skiing,USA,slalom,W,Gold
4,1956,Cortina d'Ampezzo,Skating,Figure skating,USA,individual,M,Gold
...,...,...,...,...,...,...,...,...
60,2006,Turin,Skiing,Alpine Skiing,USA,Alpine combined,M,Gold
61,2006,Turin,Skiing,Alpine Skiing,USA,giant slalom,W,Gold
62,2006,Turin,Skiing,Snowboard,USA,Half-pipe,M,Gold
63,2006,Turin,Skiing,Snowboard,USA,Half-pipe,W,Gold
64,2006,Turin,Skiing,Snowboard,USA,Snowboard Cross,M,Gold