### Practica Dataframe y bases de datos

In [11]:
import sqlite3
import pandas as pd
import sqlalchemy as db

1. Conectarse a la url que contiene el archivo CSV de medallas olímpicas.

In [12]:
url = 'http://winterolympicsmedals.com/medals.csv'
dfMedals = pd.read_csv(url)
dfMedals.sample(5)

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
68,1928,St. Moritz,Skating,Speed skating,NOR,500m,M,Gold
1012,1984,Sarajevo,Skating,Figure skating,CAN,individual,M,Silver
1413,1992,Albertville,Skiing,Nordic Combined,NOR,Team,M,Silver
787,1976,Innsbruck,Skiing,Alpine Skiing,AUT,downhill,W,Silver
2056,2002,Salt Lake City,Skiing,Snowboard,USA,Half-pipe,M,Gold

2. Descargar los datos y obtener un sub dataset que contenga a todas las medallas de oro (Gold) Estados Unidos (USA) a partir del año 1950.

In [13]:
dfFiltered = dfMedals[(dfMedals['Medal'] == 'Gold') & (dfMedals['NOC'] == 'USA') & (dfMedals['Year'] >= 1950)]
dfFiltered

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
311,1952,Oslo,Skating,Figure skating,USA,individual,M,Gold
314,1952,Oslo,Skating,Speed skating,USA,500m,M,Gold
316,1952,Oslo,Skiing,Alpine Skiing,USA,giant slalom,W,Gold
317,1952,Oslo,Skiing,Alpine Skiing,USA,slalom,W,Gold
386,1956,Cortina d'Ampezzo,Skating,Figure skating,USA,individual,M,Gold
...,...,...,...,...,...,...,...,...
2301,2006,Turin,Skiing,Alpine Skiing,USA,Alpine combined,M,Gold
2302,2006,Turin,Skiing,Alpine Skiing,USA,giant slalom,W,Gold
2305,2006,Turin,Skiing,Snowboard,USA,Half-pipe,M,Gold
2307,2006,Turin,Skiing,Snowboard,USA,Half-pipe,W,Gold
2309,2006,Turin,Skiing,Snowboard,USA,Snowboard Cross,M,Gold

3. Crear una base de datos “olympics” en SQLite y la tabla “medals”.

Para las conexion a la base de datos decido usar la de sqlite3 en caso de querer usar sqlalchemy descomentar las lineas de conexion que dicen conexion sqlalchemy y comentar las de la conexion sqlite3

In [14]:
# conexion a la base de datos 
# engine = db.create_engine('sqlite:///olympics.db')
# connection = engine.connect()

In [15]:
# Crear una conexión a la base de datos a travez del conector de sqlite3
conn = sqlite3.connect('olympics.db')

# Crear un cursor
cursor = conn.cursor()

# Crear una tabla
query = """CREATE TABLE IF NOT EXISTS medals (
            id INTEGER,
            year INTEGER,
            city TEXT,
            sport TEXT,
            discipline TEXT,
            noc TEXT,
            event TEXT,
            event_gender TEXT,
            medal TEXT
            )"""
cursor.execute(query)
conn.commit()

4. Guardar en la base de datos. los datos generados en el sub dataset.

In [16]:
# Insertar datos en la BD utilzando el método to_sql
dfFiltered.to_sql(name='orders', con=conn, if_exists='append', index = False)

65

5. Consultar la base de datos y validar que los datos se hayan cargado correctamente

In [17]:
# Verificamos que todo se haya incertado correctamente
query = "SELECT * FROM orders"
data = pd.read_sql(query, con=conn)
data

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
0,1952,Oslo,Skating,Figure skating,USA,individual,M,Gold
1,1952,Oslo,Skating,Speed skating,USA,500m,M,Gold
2,1952,Oslo,Skiing,Alpine Skiing,USA,giant slalom,W,Gold
3,1952,Oslo,Skiing,Alpine Skiing,USA,slalom,W,Gold
4,1956,Cortina d'Ampezzo,Skating,Figure skating,USA,individual,M,Gold
...,...,...,...,...,...,...,...,...
190,2006,Turin,Skiing,Alpine Skiing,USA,Alpine combined,M,Gold
191,2006,Turin,Skiing,Alpine Skiing,USA,giant slalom,W,Gold
192,2006,Turin,Skiing,Snowboard,USA,Half-pipe,M,Gold
193,2006,Turin,Skiing,Snowboard,USA,Half-pipe,W,Gold
194,2006,Turin,Skiing,Snowboard,USA,Snowboard Cross,M,Gold

In [18]:
# Finalmente cerramos la conexion
conn.close()